# General file types to ignore
*.pptx
*.docx
*.csv
*.fasta
*.nw
*.fa
*.aln
*.html
*.log
*.svg
*.png
*.pdf
.Rhistory

# ignroing some R stuff
.Rproj.user/
.Rhistory
.RData
*.Rproj

# Specific things to ignore
output/
data/
reports/
config/config.yaml

# Output and logs
output/
*.log
*.html

# eggNOG-mapper DBs and large datasets
data/
config/*.bak

# OS files
.DS_Store
Thumbs.db
